# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
env/
ENV/

# Database files
*.sqlite3
*.sqlite3.backup
datadump.json
datadump_utf8.json
backup.json

# IDEs
.vscode/
.idea/

# Static and media
/media/
/static_root/
